.deniyorum {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #373F68;
  font-family: "Jost", sans-serif;
  text-align: center;
  margin: 0 auto;
  padding-top: 20px;

}

.header-filter {
  display: flex;
  flex-direction: column;
}

.filter-options {
  display: none;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 150px;
  margin-top: 5px;

}

.suggestionCount {
  display: none;
}

.filter-text {
  cursor: pointer;
  padding: 16px;
}




@media (min-width:767px){
  .suggestionCount{
    display: flex;
  }
}