.sidebar-header {
  display: flex;
  justify-content: space-between;
  background: radial-gradient(128.88% 128.88% at 103.9% -10.39%, #E84D70 0%, #A337F6 53.09%, #28A7ED 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  z-index: 2000;
  padding: 16px 24px;
  position: relative;
  h4 {
    font-family: "Jost", sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 21.68px;
    letter-spacing: -0.1875px;
    text-align: left;
    color: #FFFFFF;
  }
  p {
    font-family: "Jost", sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 18.79px;
    text-align: left;
    color: #ffffffd1;
  }
}

.sidebar-header-text {
  display: flex;
  justify-content: space-between;
  background: radial-gradient(128.88% 128.88% at 103.9% -10.39%, #E84D70 0%, #A337F6 53.09%, #28A7ED 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  z-index: 2;
  padding: 16px 24px;
  position: relative;
  h4 {
    font-family: "Jost", sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 21.68px;
    letter-spacing: -0.1875px;
    text-align: left;
    color: #FFFFFF;
  }
  p {
    font-family: "Jost", sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 18.79px;
    text-align: left;
    color: #ffffffd1;
  }
}

.burger-menu {
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  border: none;
  background: none;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 100;
  color: #FFFFFF;
}

.sidebar-boxes {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.sidebar-header-text {
  display: block;
}


@media (min-width: 768px) {
  .burger-menu {
    display: none;
  }

  .sidebar-header-text {
    display: block;
  }

  .sidebar-header-text {
    display: flex;
    justify-content: space-between;
    background: radial-gradient(128.88% 128.88% at 103.9% -10.39%, #E84D70 0%, #A337F6 53.09%, #28A7ED 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    z-index: 2000;
    padding: 116px 24px 24px 24px;
    border-radius: 10px;
    width: 223px;
    position: relative;
    flex-direction: column;
    h4 {
      font-family: "Jost", sans-serif;
      font-size: 15px;
      font-weight: 700;
      line-height: 21.68px;
      letter-spacing: -0.1875px;
      text-align: left;
      color: #FFFFFF;
    }
    p {
      font-family: "Jost", sans-serif;
      font-size: 13px;
      font-weight: 500;
      line-height: 18.79px;
      text-align: left;
      color: #ffffffd1;
    }
  }

  .FeedbackBoardHeaderDesktop {
    margin: 0 auto;
    padding: 28px 80px;
  }

  .FeedbackBoardHeaderDesktop {
    display: flex;
    justify-content: space-around;
  }
}

.sidebar {
  padding: 24px;
  width: 250px;
  height: 100vh;
  background-color: #F7F8FD;
  color: white;
  position: fixed;
  top: 0;
  right: -250px;
  z-index: 1;
  padding-top: 20px;
  transition: right 0.3s ease;
}

@media (min-width: 768px) {
  .sidebar {
    display: none;
  }
}

@media(min-width: 1110px) {
  .FeedbackBoardHeaderTablet {
    display: flex;
    flex-direction: column;
  }
}