.commentsContainer {
  margin-top: 40px;
  border-radius: 16px;
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 24px 32px;
}

.replyBtn {
  button {
    border: none;
    background: transparent;
    color: #4661e6;
    font-size: 13px;
    font-weight: 600;
    line-height: 18.79px;
    text-align: left;
  }
}

.commentsGeneral {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-bottom: 1px solid #8c92b325;
  padding-bottom: 32px;

  h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 26.01px;
    letter-spacing: -0.25px;
    text-align: left;

  }


  .commentsCard {
    display: flex;
    gap: 32px;

    .content {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 25px;
      border-radius: 15px;


      p {
        font-size: 15px;
        font-weight: 400;
        line-height: 21.68px;
        text-align: left;

      }

      .userInformation {
        display: flex;
        justify-content: space-between;

        div {
          display: flex;
          flex-direction: column;
          gap: 6px;

          h4 {
            color: var(titleText);
            font-size: 14px;
            font-weight: 700;
            line-height: 20.23px;
            letter-spacing: -0.1944444477558136px;
            text-align: left;
          }

          p {
            font-size: 14px;
            font-weight: 400;
            line-height: 20.23px;
            text-align: left;

          }
        }
      }
    }
  }
}

@media(width <=768px) {
  .commentsContainer {
    width: 689px;
  }
}

@media(width <=450px) {
  .commentsContainer {
    width: 327px;
  }
}