.feedbackDetailContainer {
  margin: 0 auto;
  max-width: 730px;
  border-radius: 10px;
}

.detailcompHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.commentContainer {
  margin: 0 auto;
  max-width: 825px;
  background-color: #FFFFFF;
  border-radius: 10px;

}

button {
  cursor: pointer;
}

@media(width>=1110px) {
  .feedbackDetailContainer {
    margin: 0 auto;
  }

  .detailcompHeader {
    margin: 0 auto;
    width: 825px;
  }
}