.back-button {
  padding-inline: 20px;
  display: flex;
  align-items: center;
  gap: 23.66px;
  margin-bottom: 24px;
  padding-top: 33px;
  padding-left: 24px;
  cursor: pointer;

  button {
    border: unset;
    background: unset;
  }

  & h4 {
    font-family: League Spartan;
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: -0.25px;
  }
}

@media(width >= 768px) {
  .back-button {
    padding-inline: 57px;
  }
}