.Header {
  display: flex;
  align-items: center;
  padding-top: 0;

  & .short {
    display: flex;
    align-items: center;
  }
}

.addfeedback button {
  border: unset;
  background: unset;
  font-family: Jost;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #F2F4FE;
  background-color: #AD1FEA;
  padding: 12px 25px;
  cursor: pointer;
  border-radius: 10px;
}

.addfeedback button:hover {
  background-color: #C75AF6;
}

.suggestionCount p {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #fff;
}

.filter-options {
  display: none;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 5px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 10px 40px -7px rgba(55, 63, 104, 0.35);
  width: 100%;
}

.header-filter {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.header-filter:hover .filter-options,
.filter-options:hover {
  display: block;
}

.filter-text {
  cursor: pointer;
  color: #647196;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
}


.filter-option {
  cursor: pointer;
  padding: 5px 0;
  display: flex;
  align-items: center;
  color: #647196;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid rgba(58, 67, 116, 0.15);
}


.filter-option:last-child {
  border-bottom: none;
}

.filter-option:hover {
  color: #AD1FEA;

}

.check-mark {
  color: #AD1FEA;
  margin-left: 105px;
  display: inline;

}

.header-filter {
  display: flex;
  flex-direction: column;
}

.filter-options {
  display: none;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 150px;
  margin-top: 5px;
}

.suggestionCount {
  display: none;
}

.filter-text {
  cursor: pointer;
  padding: 16px;
}

.Header {
  height: none;
  display: flex;
  background-color: #373F68;
  font-family: "Jost", sans-serif;
  text-align: center;
  align-items: center;
  margin: 0 auto;

  & .short {
    display: flex;
    align-items: center;
  }
}

.header-filter {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 10px;
}

.filter-options {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 150px;
  top: calc(80% + 5px);
  left: 20px;
  z-index: 1;
}



@media (min-width: 767px) {

  .suggestionCount {
    display: flex;
    gap: 16px;
  }


  .Header {
    width: 689px;
    padding: 0;
    height: none;
    display: flex;
    justify-content: space-around;
    background-color: #373F68;
    font-family: "Jost", sans-serif;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
    border-radius: 15px;

    & .short {
      display: flex;
      align-items: center;
      gap: 38px;
    }
  }

  .header-filter {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 10px;
  }

  .filter-options {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 150px;
    top: calc(80% + 5px);
    left: 20px;
    z-index: 1;
  }
}

@media (min-width: 1110px) {
  .Header {
    width: 825px;
    position: absolute;
    margin-top: 72px;
    margin-left: 0px;
    border-radius: 15px;
    padding: 0;
    padding-block: 14px;
    padding-inline: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .short {
      display: flex;
      align-items: center;
      gap: 38px;
    }
  }
}