.FilterBoxButtons {
  margin: 0 auto;
  background-color: #ffff;
  border-radius: 10px;
  padding: 19px 24px;
  max-width: 223px;
  font-size: 13px;
  font-weight: 600;
  line-height: 18.79px;
  button {
    border: unset;
    background: unset;
    padding: 5px 16px;
    border-radius: 8px;
    background-color: #F2F4FF;
    color: #4661E6;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin: 5px;
  }
}

.FilterBoxButtons button.selected {
  background-color: #4661E6;
  color: #FFFFFF;
}