.container {
  display: flex;
  background-color: #F7F8FD;
}

.sidebar {
  flex-shrink: 0;
  z-index: 0;
}

.content {
  background-color: #F7F8FD;
  flex-grow: 1;
  z-index: 1;
  margin-top: 60px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .content {
    margin-top: 0;
  }
}

@media(min-width: 1110px) {
  .container {
    flex-direction: column;
  }
  .content {
    margin-top: 0;
  }
}