.LoginContent {
  background-color: #F2F4FF;
  margin: 0 auto;
  min-width: 375px;
  padding: 190px 30px 190px 30px;
  form {
    width: 327px;
  }

  h1 {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #3A4374;
    font-family: 'Jost', sans-serif;
  }
  button {
    border-radius: 10px;
    color: #F2F4FF;
    padding: 10px 105px;
    font-family: 'Jost', sans-serif;
    border: unset;
    background: radial-gradient(128.88% 128.88% at 103.9% -10.39%, #E84D70 0%, #A337F6 53.09%, #28A7ED 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  }
  small {
    color: #D73737;
    font-family: 'Jost', sans-serif;
    margin-left: 5px;
    margin-bottom: 10px;
  }
}

.login-span {
  background: radial-gradient(128.88% 128.88% at 103.9% -10.39%, #E84D70 0%, #A337F6 53.09%, #28A7ED 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  border-radius: 20px;
  padding: 5px;
  color: #F2F4FF;
}

.LoginContent input {
  width: 275px;
  padding: 15px 16px;
  border-radius: 10px;
  border: 2px solid #F7F8FD;
  background-color: #F7F8FD;
  font-family: 'Jost', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18.79px;
  text-align: left;
  color: #3A4374;
  margin-bottom: 5px;
}

.login-form-box{
  background-color: #ffff;
  border-radius: 10px;
  padding: 20px;
}

@media(min-width: 768px) {
  .LoginContent {
    background-color: #F2F4FF;
    margin: 0 auto;
    width: 768px;
    padding: 210px 30px 210px 30px;
    form {
      width: 327px;
    }
  
    h1 {
      margin-bottom: 30px;
      text-align: center;
      color: #3A4374;
      font-family: 'Jost', sans-serif;
    }
    button {
      border-radius: 10px;
      color: #F2F4FF;
      padding: 10px 105px;
      font-family: 'Jost', sans-serif;
      border: unset;
      background: radial-gradient(128.88% 128.88% at 103.9% -10.39%, #E84D70 0%, #A337F6 53.09%, #28A7ED 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    }
  }

  .login-form-box{
    margin: 0 auto;
    background-color: #ffff;
    border-radius: 10px;
    padding: 20px 120px;
    width: 689px;
  }
}